<div class="widgets" ng-controller="ShieldCodeEditCtrl as shieldCodeEditCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <h4>Shield Code - <small>{{shieldCodeEditCtrlVm.shieldCode._id}}</small></h4>
      <div ba-panel ba-panel-class="with-scroll">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="checkbox">
                <label for="shieldCode_enabled">
                  <input type="checkbox" id="shieldCode_enabled" ng-model="shieldCodeEditCtrlVm.shieldCode.enabled">
                  Enabled
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="shieldCode_description">Description</label>
                <input type="text" class="form-control" id="shieldCode_description"
                       ng-model="shieldCodeEditCtrlVm.shieldCode.description">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="version">Shield Version</label>
                <input type="text" class="form-control" id="version"
                       ng-model="shieldCodeEditCtrlVm.shieldCode.version">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Implementation</label>
                <ui-select ng-model="shieldCodeEditCtrlVm.shieldCode.commonShieldCodeId">
                  <ui-select-match placeholder="Select Common Shield">
                    {{$select.selected.name}} <br> <small>{{$select.selected.description}}</small>
                  </ui-select-match>
                  <ui-select-choices repeat="commonShield._id as commonShield in shieldCodeEditCtrlVm.commonShields">
                    {{commonShield.name}} <br> <small>{{commonShield.description}}</small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="jobOptions">Shield Code Options</label>
                <textarea json-text class="form-control" id="jobOptions" ng-if="!shieldCodeEditCtrlVm.shieldCode.jobOptionDefinitions && !shieldCodeEditCtrlVm.shieldCode.commonShieldCodeId"
                          ng-model="shieldCodeEditCtrlVm.shieldCode.jobOptions">
                </textarea>
              </div>
              <div ng-class="options.type === 'boolean' ? 'checkbox' : 'form-group'" ng-repeat="(name, options) in (shieldCodeEditCtrlVm.shieldCode.commonShieldCode.value.jobOptionDefinitions || shieldCodeEditCtrlVm.shieldCode.jobOptionDefinitions)">
                <label for="{{name}}">
                  <input ng-if="options.type === 'boolean'"  ng-attr-placeholder="{{options.default}}" type="checkbox" id="{{name}}" ng-model="shieldCodeEditCtrlVm.shieldCode.jobOptions[name]">
                  {{name}}
                </label>
                <textarea json-text class="form-control" id="{{name}}" ng-if="options.type === 'object'"  ng-attr-placeholder="{{options.default}}"
                          ng-model="shieldCodeEditCtrlVm.shieldCode.jobOptions[name]">
                </textarea>
                <div class="input-group">
                <input class="form-control" ng-if="options.type !== 'object' && options.type !== 'boolean'"  ng-attr-placeholder="{{options.default}}" type="{{options.type}}" id="{{name}}" ng-model="shieldCodeEditCtrlVm.shieldCode.jobOptions[name]">
                <div ng-if="options.unit" class="input-group-addon">
                  {{options.unit}}
                </div>
                </div>
                <small ng-if="options.description || options.default" class="form-text text-muted">
                  {{options.description}}, default: {{options.default}}
                </small>
              </div>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-primary" ng-click="shieldCodeEditCtrlVm.saveShieldCode()"
                  data-ng-disabled="shieldCodeEditCtrlVm.saving">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
