<div class="widgets" ng-controller="UserViewCtrl as userViewCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <uib-tabset active="$tabSetStatus.activeTab">
          <uib-tab heading="Details">
            <div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">ID</label>
                    <input ng-disabled="!userViewCtrlVm.isNew" class="form-control" id="_id" ng-model="userViewCtrlVm.user._id" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" ng-model="userViewCtrlVm.user.name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" id="email" ng-model="userViewCtrlVm.user.email">
                  </div>
                </div>
                <div class="col-sm-6" ng-if="isAdmin">
                  <div class="form-group">
                    <label for="accessLevel">Access Level (3 is admin)</label>
                    <input class="form-control" id="accessLevel" ng-model="userViewCtrlVm.user.accessLevel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="street">Street</label>
                    <input class="form-control" id="street" ng-model="userViewCtrlVm.user.address.street">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input class="form-control" id="zipcode" ng-model="userViewCtrlVm.user.address.zipcode">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="city">City</label>
                    <input class="form-control" id="city" ng-model="userViewCtrlVm.user.address.city">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input class="form-control" id="country" ng-model="userViewCtrlVm.user.address.country">
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button ng-if="isAdmin || userViewCtrlVm.user._id == loggedInUser.sub" type="submit" class="btn btn-primary" ng-click="userViewCtrlVm.user.save()">
                Save
              </button>
            </div>
          </uib-tab>
          <uib-tab heading="Active Shields">
            <div class="heading-widget section-block ng-scope" ng-if="userViewCtrlVm.user.shields.value.length === 0">
              <h2>No Activated Shield</h2>
            </div>
            <table class="table table-hover" ng-if="userViewCtrlVm.user.shields.value.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Name</th>
              </tr>
              <tr ui-sref="main.user-shield-view({shieldId: shield._id})"  ng-repeat="shield in userViewCtrlVm.user.shields.value" class="editable-tr-wrap">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  {{shield.name}}
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab heading="Devices">
            <div class="heading-widget section-block ng-scope" ng-if="userViewCtrlVm.user.devices.value.length === 0">
              <h2>No Available Devices</h2>
            </div>
            <table class="table table-hover" ng-if="userViewCtrlVm.user.devices.value.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Name</th>
              </tr>
              <tr ui-sref="main.user-device-view({deviceId: device._id})"  ng-repeat="device in userViewCtrlVm.user.devices.value" class="editable-tr-wrap">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  {{device.vendorId}} {{device.extra.deviceDesc}}
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab heading="Hazards">
            <div class="heading-widget section-block ng-scope" ng-if="userViewCtrlVm.user.hazards.value.length === 0">
              <h2>No Hazards</h2>
            </div>
            <table class="table table-hover"
                ng-if="userViewCtrlVm.user.hazards.value.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Event Title</th>
                <th>Event Time</th>
                <th>Shield</th>
              </tr>
              <tr class="editable-tr-wrap clickable"
                  ng-repeat="hazard in userViewCtrlVm.user.hazards.value | orderBy:'createdAt':true"
                  ui-sref="main.hazard-view({hazardEventId: hazard._id})">
                <td class="table-id">
                  {{$index + 1}}
                </td>
                <td>
                  {{hazard.actionParams.hazardTitle}}
                </td>
                <td>
                  {{hazard.createdAt | date:'mediumTime'}} {{hazard.createdAt | date:'shortDate'}}
                </td>
                <td>
                  {{hazard.shield.value.name}}
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab heading="Claims">
            <div class="heading-widget section-block ng-scope" ng-if="userViewCtrlVm.user.claims.value.length === 0">
              <h2>No Claims</h2>
            </div>
            <table class="table table-hover" ng-if="userViewCtrlVm.user.claims.value.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Policy Number</th>
              </tr>
              <tr ui-sref="main.claim-view({claimId: claim._id})"  ng-repeat="claim in userViewCtrlVm.user.claims.value" class="editable-tr-wrap">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  {{claim.policyNumber}}
                </td>
              </tr>
            </table>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
