<div ng-controller="UserListCtrl as userListCtrlVm">
  <div ba-panel class="viewport100">
    <div id="map-bubbles"></div>
  </div>

  <div class="widgets">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary bootstrap-panel with-scroll">
          <div class="panel-heading">
            All Customers
            <span class="ng-scope" ng-if="hazardListCtrlVm.isLoading" style="display: inline-block;">
              <loading-spinner type="bounce"></loading-spinner>
            </span>
          </div>
          <div class="panel-body">
            <div class="horizontal-scroll">
              <div class="heading-widget section-block ng-scope"
                 ng-if="!userListCtrlVm.isLoading && userListCtrlVm.users.length === 0">
                <h2>You don't have any customers.</h2>
              </div>
              <table class="table table-hover">
                <tr class="header-row">
                  <th class="table-id">#</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
                <tr class="editable-tr-wrap clickable" ng-repeat="user in userListCtrlVm.paginatedUsers"
                    ui-sref="main.user-view({userId: user._id})">
                  <td class="table-id">{{(userListCtrlVm.currentPage-1)*userListCtrlVm.itemsPerPage + $index + 1}}</td>
                  <td> {{user.name}} </td>
                  <td> {{user.email}} </td>
                  <td>
                    <button type="button" class="btn btn-xs btn-primary"
                            ng-if="isAdmin"
                            ng-if="loggedInUser._id !== user._id"
                            ng-click="userListCtrlVm.deleteUser(user)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-xs btn-primary"
                            ng-if="isAdmin"
                            ui-sref="main.user-view({userId: null})">
                      Add new
                    </button>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tfoot>
                <tr ng-if="userListCtrlVm.totalItems > userListCtrlVm.itemsPerPage">
                  <td colspan="6" class="text-center">
                    <ul uib-pagination direction-links="false" total-items="userListCtrlVm.totalItems"
                        ng-change="userListCtrlVm.pageChanged()" max-size="10" force-ellipses="true"
                      ng-model="userListCtrlVm.currentPage" items-per-page="userListCtrlVm.itemsPerPage"></ul>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
