<div class="widgets" ng-controller="UserDeviceViewCtrl as userDeviceViewCtrlVm">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="vendorId">VendorId</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="vendorId"
                                       ng-model="userDeviceViewCtrlVm.userDevice.vendorId">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="vendor">Vendor</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="vendor"
                                       ng-model="userDeviceViewCtrlVm.userDevice.vendor">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="type">Type</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="type"
                                       ng-model="userDeviceViewCtrlVm.userDevice.type">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tokens">Tokens</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="tokens"
                                       ng-model="userDeviceViewCtrlVm.userDevice.tokens">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="address"
                                       ng-model="userDeviceViewCtrlVm.userDevice.location.properties.address">
                            </div>
                        </div>
                    </div>
                </div>
                <div ba-panel ba-panel-title="device Location" class="viewport100">
                    <div id="google-maps"></div>
                </div>
            </div>
        </div>
    </div>
</div>
